{%  extends "first_page.html" %}
<div class="footer">
    <form method="post" action="https://trsis-labs.azurewebsites.net/change_language/">
    {% csrf_token %}
    <select name="language">
        {% get_available_languages as LANGUAGES %}
        {% for language in LANGUAGES %}
        <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.0|language_name_local }} ({{ language.0 }})
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Change language">
</form>
</div>