{% extends 'header.html' %}
{% block description %}
    <div>
    <h1>Группы</h1>
    <td>Номер группы</td>
    <td>Номер учебного плана группы</td>
    <td>Номер Факультета</td>
    <br>
    {% for i in group %}
        <tr>
        <td>{{ i.group_number }}</td>
        <td>{{ i.teaching_plan }}</td>
        <td>{{ i.Faculty_FK }}</td>
        <br>
        </tr>
    {% endfor %}
    </div>

    <div>
    <h1>Создать новую группу</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>Номер группу</label> <input type="number" name="faculty_number" required><br>
            <label>Название </label> <input type="text" name="faculty_name" required><br>
            <label>Инфо о факультете</label> <input type="text" name="faculty_info" required><br>
            <br>
            <input type="submit" value="send">


        </div>
    </form>
    </div>

    <div>
    <h1>Удалить факультет</h1>
    <form method="POST" action="http://127.0.0.1:8000/deleteFaculty/">
        {% csrf_token %}
        <label>Номер факультета</label><input type="text" name="delete_faculty_by_number" required><br>
        <br>
        <input type="submit" value="delete">
    </form>
    </div>
{% endblock %}