{% extends 'header.html' %}
{% block description %}
    <div>
    <h1>Группы</h1>
    <td>Номер группы</td>
    <td>Номер учебного плана группы</td>
    <td>Номер Факультета</td>
    <td>Предметы</td>
    <br>
    {% for i in group %}
        <tr>
        <td>{{ i.group_number }}</td>
        <td>{{ i.teaching_plan }}</td>
        <td>{{ i.Faculty_FK }}</td>
        <td><a href="http://127.0.0.1:8000/SubjectsOfGroup/{{ i.group_number }}/">Предметы</a></td>
        <br>
        </tr>
    {% endfor %}
    </div>

    <div>
    <h1>Создать новую группу</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>Номер группы</label> <input type="text" name="group_number" required><br>
            <label>Учебный план</label> <input type="text" name="teaching_plan" required><br>
            <label>Факультет</label> <input type="text" name="Faculty_FK" required><br>
            <br>
            <input type="submit" value="send">


        </div>
    </form>
    </div>

    <div>
    <h1>Удалить группу</h1>
    <form method="POST" action="http://127.0.0.1:8000/deleteGroup/">
        {% csrf_token %}
        <label>Номер группы</label><input type="text" name="delete_group_by_number" required><br>
        <br>
        <input type="submit" value="delete">
    </form>
    </div>
{% endblock %}