{% extends 'header.html' %}
{% block description %}
    <div>
    <h1>Текущие факультеты</h1>
    <td>Название факультета</td>
    <td>Номер факультета</td>
    <td>Информация о факультете</td>
    <br>
    {% for i in faculty %}
        <tr>
        <td>{{ i.faculty_name }}</td>
        <td>{{ i.faculty_number }}</td>
        <td>{{ i.faculty_info }}</td>
        <br>
        </tr>
    {% endfor %}
    </div>

    <div>
    <h1>Создать новый факультет</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>Номер факультета</label> <input type="number" name="faculty_number" required><br>
            <label>Название факультета</label> <input type="text" name="faculty_name" required><br>
            <label>Инфо о факультете</label> <input type="text" name="faculty_info" required><br>
            <br>
            <input type="submit" value="send">


        </div>
    </form>
    </div>

    <div>
    <h1>Удалить факультет</h1>
    <form method="POST" action="http://127.0.0.1:8000/deleteFaculty/">
        {% csrf_token %}
        <label>Номер факультета</label><input type="text" name="delete_faculty_by_number" required><br>
        <br>
        <input type="submit" value="delete">
    </form>
    </div>
{% endblock %}